body {
  font-weight: lighter;
  background-color: #222629; 
  font-family: 'Montserrat', sans-serif;
  color: #ffffffe6;
}

div.ui.basic.segment, .pushable{
  margin: 0;
  padding: 20px;
  border-radius: none;
  background-color: #222629;
}

.ui form .Form-container{
  display: inline-block;
}

div.ui.segment.pushable{
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  overflow: hidden;
  /* background: #222629 */
}

.ui.form .fields{
  display: -webkit-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
} 

i.big.icon, i.big.icons{
  color: #dddddd !important;
}

.Form-container{
  width: 40%;
  border: 1px solid grey;
  margin: auto 20px;
  padding: 10px; 
  /* margin: 0 auto; */
}


.NavBar span{
  display: flex;
  background-color: #222629;
  overflow: hidden;  
}

#template a, #newResume a, #print, #profile a, #logout a, #login a, #signUp a, #home a{
  /* background-color: red;  */
  background-color: #222629;
  color: #dddddd !important;
  font-family: 'Montserrat', sans-serif;
}
#template , #newResume , #print, #profile , #logout , #login , #signUp , #home, #map {
  font-family: 'Montserrat', sans-serif !important;
  padding: 0 42px 0 42px;
  color: #dddddd !important;
  
}

h4, h2, h3 span{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
div .ui.card{
  margin: 50px auto;

}

.ui.form.Form-container{
  display: inline-block;
  width: 500px;
}

.ui.active.dimmer.modals.transition {                                                         /* Semantic UI modal position fix */
  display: flex !important;
  display: -ms-flexbox !important;
}

.ui.card.Profile-card{                            
  margin-top: 20px;
}

.field label{
  color: #ffffffe6 !important;
  font-family: 'Montserrat', sans-serif !important;

}

.ui.inverted.ui.overlay.top.visible.sidebar.menu{
  background-color: #222629;
}

.signup-form{
  width: 500px;
  margin: 100px auto;
  padding: 20px;
}

.login-form{
  width: 500px;
  margin: 100px auto;
  padding: 20px;
}

.ui.input{
  padding: 10px;
}

.login-button, .signup-button{
  width: 410px;
  margin: 10px auto !important;
  background-color: #ffe400 !important;
  padding: 15px !important;
}

.prints{
  font-family: 'Montserrat', sans-serif !important;
}

.Homepage img{
  width: 1272px;
  height: 800px;
  display: block;
  margin: 0 auto;
  opacity: .75;

}



/* @media print {
  .no-print {
    display: none;
  }
} */
