body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #222629;
}

.App-header {
  background-color: #222629;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.NavBar a, .NavBar button {
	margin: 0 5px;
	cursor: pointer;
}

.NavBar {
	margin-bottom: 20px
}

div.ui.basic.segment, .pushable{
  margin: 0;
  padding: 20px;
  border-radius: none;
}
div.ui.segment.pushable{
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  /* background: #222629 */
}

.ui.form .fields{
  display: -webkit-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
}