.Template2{
    // border: 1px solid grey;
    width: 595px;
    height: 842px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    float: right;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: grey;
    
    .header{
        text-align: center;
        margin-bottom: 10px;
    }

    .name{
        margin-bottom: 0;
    }

    h3{
        border-bottom: 1px solid grey; 
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;

    }

    h4{
        margin: 0;
        font-family: 'Montserrat', sans-serif;

    }

    .summary, .tech-skills, .projects, .experience, .education{
        margin-bottom: 20px;
    }

    .experience span {
        font-weight: lighter;
        font-style: italic;
    } 
}